<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        #blogs-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2rem;
            flex-direction: column;
        }

        .blog {
            display: flex;
            background: #fff;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            transition: all ease .2s;
            margin: 1rem;
        }

        .blog:hover {
            transform: scale(1.01);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
        }

        a {
            text-decoration: none;
        }

        .blog-image {
            width: 160px;
            height: 160px;
            object-fit: cover;
        }

        .blog-content {
            padding: .7rem;
        }

        .blog-title {
            font-size: 1.35rem;
            color: #1e3a8a;
            font-weight: bold;
            margin: 0;
        }

        .blog-description {
            font-size: 1.1rem;
            color: #555;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }

        /* Blog Title and Cover Icon */
        .blog-title-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            gap: 0.5rem;
        }

        .cover-icon {
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            width: 3rem;
            height: 3rem;
            display: flex;
            border-radius: 50%;
        }

        .blog-image-wrapper {
            width: 160px;
            height: 160px;
        }

        .icon {
            margin: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
        }

        /* Media Queries for Responsiveness */
        @media (max-width: 768px) {
            .blog {
                flex-direction: column;
            }

            .blog-image-wrapper {
                width: 100%;
                height: auto;
            }

            .blog-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .blog-title {
                font-size: 1.2rem;
            }

            .blog-description {
                font-size: 0.9rem;
            }
        }

        @media (max-width: 480px) {
            .blog {
                flex-direction: column;
            }

            .blog-image-wrapper {
                width: 100%;
                height: auto;
            }

            .blog-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .blog-title {
                font-size: 1rem;
            }

            .blog-description {
                font-size: 0.8rem;
            }
        }
    </style>
    <script src="https://kit.fontawesome.com/126cda3aca.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../public/loader.html'); %>
        <%- include('./header.ejs') %>
            <div id="blogs-container">
                <% for(let blog of blogs){ %>

                    <section style="display: flex; margin: 1rem;">
                        <a href="/dashbord/<%= blog._id %>" target="" rel="noopener noreferrer"
                            style="text-decoration: none;flex: auto;">
                            <div class="blog">
                                <div class="blog-image-wrapper">
                                    <img src="<%= blog.coverImage%>" alt="Cover Image" class="blog-image">
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title-wrapper">
                                        <img src="<%= blog.postBy.profile %>" alt="" class="cover-icon">
                                        <h2 class="blog-title">
                                            <%=blog.title%>
                                        </h2>
                                    </div><br>
                                    <p class="blog-description">
                                        <%=blog.description%>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <span style="display: flex;flex-direction: column;">
                            <a href="/dashbord/editblog/<%= blog._id%>" style="color: black;"><i class="fa-solid fa-pencil icon"></i></a>
                            <i class=" fa-solid fa-trash icon" onclick="deleteBlog('<%= blog._id%>',this)"></i>
                        </span>
                    </section>
                    <% } %>
            </div>

            <script>
                function deleteBlog(id, iconElement) {
                    if (confirm("Are you sure you want to delete this blog post?")) {
                        document.getElementById('loader-container-container').style.display = 'block'
                        fetch(`myBlogs/deleteBlog/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                            .then(response => {
                                document.getElementById('loader-container-container').style.display = 'none'
                                if (response.ok) {
                                    alert("Blog post deleted successfully");
                                    const section = iconElement.closest('section'); // Find the closest section element
                                    if (section) {
                                        section.remove();
                                    }
                                } else {
                                    return response.json().then(data => {
                                        alert(data.message);
                                    });
                                }
                            })
                            .catch(error => {
                                document.getElementById('loader-container-container').style.display = 'block'
                                alert("An error occurred while trying to delete the blog post.");
                                console.error("Error:", error);
                            });
                    }
                }
            </script>
</body>

</html>